.env

.venv/
ai_proofread.egg-info/


node_modules
work
*.pyc
__pycache__
*.pdf
1.md
2.md
*.7z
*.log
*.mdictlist
*.mdx.json
alignment_result_simple.csv
alignment_result_simple.html
alignment_result_simple.json

.DS_Store
*.pytest_cache/
.env
